<color-preview
  [circleColor]="circleColor"
  [textColor]="textColor"
></color-preview>

<div style="display: flex; flex-direction: column;">
  <mat-form-field appearance="fill">
    <mat-label>Circle Color</mat-label>
    <input
      matInput
      type="color"
      id="circle-color"
      class="color-picker"
      [(ngModel)]="circleColor"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Text Color</mat-label>
    <input
      matInput
      type="color"
      id="circle-color"
      class="color-picker"
      [(ngModel)]="textColor"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Mode</mat-label>
    <mat-select
      (selectionChange)="onModeChange($event)"
      [(value)]="selectedMode.key"
    >
      <mat-option *ngFor="let mode of availableModes" [value]="mode.key">
        {{ mode.key }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="submitColorChange()">
    Submit
  </button>
</div>
